/* 관리자 스타일시트 */
#header_wrap { height: 60px; }
#header { position: fixed; top: 0; left: 0; width: 100%; height: 60px; border-bottom: 1px solid #ddd; background: #fff; z-index: 10; }
#header > div { display: table; width: 100%; height: 100%; padding: 0 30px; box-sizing: border-box; }
#header > div > div { display: table-cell; vertical-align: middle; }
#header h1 { float: left; font-size: 16px; }
#header ul { float: right; margin-top: 2px; font-size: 0; }
#header ul li { display: inline-block; margin-left: 30px; }
#header ul li:first-child { margin-left: 0; }
#header ul li a { font-size: 14px; }
#header ul li a:hover { text-decoration: underline; }

#sidebar { position: fixed; top: 0; left: 0; width: 250px; height: 100%; padding: 60px 0; box-sizing: border-box; border-right: 1px solid #ddd; background: #eee; }
#sidebar > ul {  }
#sidebar > ul > li {  }
#sidebar > ul > li > a { display: block; padding: 16px 30px; border-bottom: 1px solid #ddd; font-size: 15px; font-weight: 500; }
#sidebar > ul > li.on > a { background: #325cb2; color: #fff; }
#sidebar > ul > li > ul { display: none; padding: 16px 30px; background: #fff; }
#sidebar > ul > li.on ul { display: block; }
#sidebar > ul > li > ul > li { margin-top: 10px; }
#sidebar > ul > li > ul > li:first-child { margin-top: 0; }
#sidebar > ul > li > ul > li > a { font-size: 14px; }

#container { padding: 50px 50px 50px 300px; }
#contentsPrint { width: 100%; max-width: 1300px; margin: 0 auto; }

.admin_title { margin: 60px 0 20px 0; font-size: 20px; font-weight: 600; }
#contentsPrint > .admin_title:first-child,
#contentsPrint > div:first-child > .admin_title {
	margin-top: 0;
}
.admin_search { margin-bottom: 20px; }
.admin_search input[type="text"],
.admin_search input[type="button"],
.admin_search input[type="submit"] {
	display: inline-block;
	vertical-align: middle;
}
.admin_search input[type="text"] { width: 200px; padding: 7px 10px; border: 1px solid #ddd; font-size: 14px; }
.admin_search input[type="button"],
.admin_search input[type="submit"] {
	padding: 7px 10px;
	border: 1px solid #325cb2;
	background: #325cb2;
	font-size: 14px;
	color: #fff;
}
.bt_wrap { margin-top: 20px; text-align: center; }

.admin_sort { margin-bottom: 20px; font-size: 0; }
.admin_sort a { display: inline-block; margin-left: 10px; font-size: 15px; }
.admin_sort a:first-child { margin-left: 0; }
.admin_sort a:hover { text-decoration: underline; }

.date_chk { position: relative; display: inline-block; }
.date_chk input[type="text"] { width: 200px; padding: 10px; border: 1px solid #ddd; background: transparent; }
.date_chk .bt_date_chk { position: absolute; top: 13px; right: 10px; width: 12px; height: 12px; background: transparent url(/resources/img/contents/bt_date_chk.png) no-repeat 0 0; text-indent: -1000px; overflow: hidden; }

.popup_img_guide { margin-top: 10px; font-size: 14px; }

.board_list .chk1 + label,
.board_list  .radio1 + label {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding-left: 0;
	background-position: 0 0;
	background-size: 16px;
}

input[type="button"].bt_move {
	display: inline-block;
	width: 20px;
	height: 16px;
	background: transparent url(/resources/img/comm/bt_move.png) no-repeat 0 0 /20px;
	text-indent: -200px;
	overflow: hidden;
	opacity: 0.7;
}
input[type="button"].bt_move:hover {
	opacity: 1;
}