/* 법인소개 
.cont_title { width: 100%; height: 200px; margin-bottom: 40px; padding-top: 70px; box-sizing: border-box; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; text-align: center; font-size: 40px; font-weight: 500; color: #fff; text-shadow: 0 2px 2px #555; }
.cont_title.company { background-image: url(/resources/img/contents/company_title.png); }
.cont_title.information { background-image: url(/resources/img/contents/information_title.png); }
.cont_title.symposium { background-image: url(/resources/img/contents/symposium_title.png); }
.cont_title.picture { background-image: url(/resources/img/contents/picture_title.png); }
.cont_title.notice { background-image: url(/resources/img/contents/notice_title.png); }
.cont_sub_title { width: 1000px; margin: 0 auto 40px auto; padding-bottom: 20px; border-bottom: 1px solid #ccc; text-align: center; font-size: 32px; font-weight: 500; color: #373737; }
.company_since { width: 1000px; height: 60px; margin: 0 auto 40px auto; border-bottom: 5px solid #ccc; }
.company_since > span { display: inline-block; height: 60px; border-bottom: 5px solid #042870; font-size: 40px; font-weight: 500; color: #042870; letter-spacing: -1px; }
.company_cont { width: 1000px; margin: 0 auto; font-size: 0; }
.company_cont > div { display: inline-block; vertical-align: top; }
.company_cont .left { width: 55%; height: 540px; background: url(/resources/img/contents/company_img1.png) no-repeat 80% 100%; }
.company_cont .left strong { display: block; padding: 50px 0 0 15px; background: url(/resources/img/contents/company_icon1.png) no-repeat 0 0; line-height: 120%; font-size: 60px; font-weight: 100; color: #373737; }
.company_cont .right { width: 45%; padding-top: 56px; font-size: 18px; color: #373737; letter-spacing: -1px; }
*/

/* 인사말 */
.greet_title { width: 100%; max-width: 1300px; height: 280px; margin: 60px auto 0 auto; background: url(/resources/img/contents/greet_bg.png) no-repeat 50% 50%; background-size: cover; }
.greet_title > div { display: table; width: 100%; height: 100%; }
.greet_title > div > div { display: table-cell; padding-left: 100px; vertical-align: middle; }
.greet_title span { display: block; margin-bottom: 10px; font-size: 16px; font-weight: 500; color: #7698c0; }
.greet_title strong { display: block; font-size: 48px; font-weight: 500; color: #fff; letter-spacing: -2px; }
.greet_txt { width: 100%; max-width: 1300px; margin: 0 auto 60px auto; padding: 60px 100px; box-sizing: border-box; background: #f5f5f5; line-height: 180%; font-size: 16px; }
.greet_txt .writer { text-align: left; }
.greet_txt .writer span { display: inline-block; margin-top: 3px; font-size: 24px; }


/* 정관 */
.term_list { width: 90%; min-width: 1000px; max-width: 1300px; margin: 60px auto; border-top: 1px solid #325cb2; }
.term_list .item { border-bottom: 1px solid #ddd; }
.term_list .item .title { }
.term_list .item .title input[type="button"] { display: block; width: 100%; padding: 20px; box-sizing: border-box; background: url(/resources/img/contents/term_list_arrow.png) no-repeat 98% 50%; text-align: left; font-size: 18px; font-weight: 500; color: #222; }
.term_list .item .title input[type="button"].on { background-image: url(/resources/img/contents/term_list_arrow_on.png); color: #325cb2; }
.term_list .item .content { display: none; padding: 20px; background: #f5f6f7; line-height: 200%; }
.term_list .item .content strong,
.term_list .item .content p {
	font-size: 14px;
}
.term_list .item .content strong { display: block; margin-top: 20px; }
.term_list .item .content strong:first-child { margin-top: 0; }


/* 심포지엄 이미지 */
.symposium_title_img { width: 90%; min-width: 1000px; max-width: 1300px; margin: 60px auto 0 auto; }
.symposium_title_img img { width: 100%; }

/* 심포지엄 */

.symposium_intro {  }

/* 회원가입 */

.member {
	padding: 60px;
	background: #f5f6f7;
}

.location { width: 600px; margin: 0 auto 20px auto; text-align: center; font-size: 0; }
.location > div { display: inline-block; width: 200px; padding: 12px 0 13px 0; box-sizing: border-box; background: #999;  border-left: 1px solid #f5f6f7; font-size: 16px; font-weight: 400; color: #fff; cursor: default; }
.location > div:first-child { border-left: 0; }
.location > div.on { background: #325cb2; }

.member > div.paper {
	width: 600px;
	margin: 0 auto;
	padding: 40px;
	box-sizing: border-box;
	background: #fff;
}

.form_step1 strong { display: block; margin: 30px 0 10px 0; font-size: 15px; font-weight: 500; }
.form_step1 strong:first-child { margin-top: 0; }
.form_step1 .term { height: 200px; margin-bottom: 10px; padding: 10px; background: #f5f6f7; overflow-y: scroll; }
.form_step1 .chk_wrap { text-align: right; }
.form_step2 { display: none; }
.form_complete { display: none; }
.form_complete .paper { font-size: 16px; }


.member dl { margin-top: 30px; font-size: 0; }
.member dl:first-child { margin-top: 0; }
.member dt,
.member dd {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
}
.member dt { width: 30%; font-weight: 500; }
.member dd { position: relative; width: 70%; }
.member input.ipt1 { width: 100%; }
.member .member_chk ul { font-size: 0; }
.member .member_chk ul li { display: inline-block; margin-left: 30px; }
.member .member_chk ul li:first-child { margin-left: 0; }
.member .email dd { font-size: 0; }
.member .email input.ipt1,
.member .email span {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
}
.member .email input.ipt1 { width: 46%; }
.member .email span { width: 8%; text-align: center; }

.member .bt_wrap { margin-top: 20px; text-align: center; }
.member .bt_wrap a { display: inline-block; margin: 0 10px; font-size: 14px; }

.member .result { margin-top: 30px; text-align: center; }
.member .result p { padding: 20px; background: #f5f6f7; font-size: 15px; }
.member .result span { color: #325cb2; text-decoration: underline; }

/* error_wrap */
.error_wrap { display: table; width: 100%; min-height: calc( 100% - 293px ); background: #f5f6f7; text-align: center; }
.error_wrap > div { display: table-cell; vertical-align: middle; }
.error_wrap > div > div { padding: 40px 0 60px 0; }
.error_wrap strong { font-size: 100px; font-weight: 400; color: #bfbfbf; }
.error_wrap p { margin: 20px 0 40px 0; line-height: 160%; font-size: 16px; }