html, body, #wrap { min-height: 100%; }

#header_wrap { position: relative; background: #fff; border-bottom: 1px solid #ddd; z-index: 10; }

/* top_menu */
#header_wrap .top_menu { width: 90%; min-width: 1000px; max-width: 1300px; margin: 0 auto; padding-top: 10px; text-align: right; }
#header_wrap .top_menu a { display: inline-block; margin-left: 20px; font-size: 13px; font-weight: 400; color: #888; }
#header_wrap .top_menu a:first-child { margin-left: 0; }
#header_wrap .top_menu a.language { border-bottom: 1px solid #888; font-weight: 500; }
#header_wrap .top_menu a.on { border-color: #172b81; color: #172b81; }

/* header */
#header { width: 90%; max-width: 1300px; min-width: 1000px; margin: 0 auto; box-sizing: border-box; text-align: right; font-size: 0; }
#header > div { display: inline-block; vertical-align: middle; }
#header .logo { float: left; }
#header .logo img { height: 60px; }
#header .gnb_wrap { display: inline-block; vertical-align: middle; }
#header .gnb_wrap > ul { display: inline-block; vertical-align: middle; font-size: 0; }
#header .gnb_wrap > ul > li { display: inline-block; width: 150px; text-align: left; cursor: pointer; }
#header .gnb_wrap > ul > li:first-child { width: 175px; }
#header .gnb_wrap > ul > li > a { display: block; height: 90px; padding-top: 28px; box-sizing: border-box; font-size: 22px; font-weight: 500; color: #000; letter-spacing: -0.5px; }
#header .gnb_wrap > ul > li > ul { display: none; position: absolute; top: 125px; left: 0; width: 100%; padding: 14px 0; background: rgba(13, 40, 128, 0.7); text-align: center; cursor: default; }
#header .gnb_wrap > ul > li:nth-child(1) > ul > li:first-child { margin-left: 100px; }
#header .gnb_wrap > ul > li:nth-child(2) > ul > li:first-child  { margin-left: 382px; }
#header .gnb_wrap > ul > li:nth-child(3) > ul > li:first-child  { margin-left: 655px; }
#header .gnb_wrap > ul > li:nth-child(4) > ul > li:first-child  { margin-left: 800px; }
#header .gnb_wrap > ul > li > ul > li { display: inline-block; margin: 0 20px; }
#header .gnb_wrap > ul > li > ul > li > a { display: block; font-size: 16px; color: #fff; }
#header .bt_header_search,
#header .header_search .search_ipt input[type="button"] { display: inline-block; width: 21px; height: 21px; vertical-align: middle; background: transparent url(/resources/img/comm/gnb_search.png) no-repeat 0 0; text-indent: -1000px; overflow: hidden; }
#header .bt_header_search { margin-left: 20px; }
#header .header_search { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 121px; padding-top: 35px; box-sizing: border-box; background: #172b81 url(/resources/img/comm/header_search_bg.png) no-repeat 50% 0; text-align: center; }
#header .header_search .bt_header_search_close { display: inline-block; width: 21px; height: 21px; margin-left: 20px; vertical-align: middle; background: transparent url(/resources/img/comm/bt_header_search_close.png) no-repeat 0 0; text-indent: -1000px; overflow: hidden; }

/* gnb */
#header .gnb_menu { display: none; position: absolute; top: 120px; left: 0; width: 100%; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; }
#header .gnb_menu a { font-size: 14px; color: #222; }
#header .gnb_menu > div { position: relative; width: 90%; max-width: 1300px; min-width: 1000px; margin: 0 auto; font-size: 0; }
#header .gnb_menu > div > .image { position: absolute; top: 0; left: 0; width: 420px; height: 100%; background: url(/resources/img/comm/gnb_menu_img.png) no-repeat 0 80%; background-size: cover; }
@media ( max-width: 1270px ) {
	#header .gnb_menu > div > .image { width: 300px; }
}
#header .gnb_menu > div > ul { padding-right: 47px; }
#header .gnb_menu > div > ul > li { display: inline-block; width: 150px; vertical-align: top; text-align: left; }
#header .gnb_menu > div > ul > li:first-child { width: 175px; }
#header .gnb_menu > div > ul > li > ul { padding: 26px 0 30px 0; }
#header .gnb_menu > div > ul > li > ul > li { padding-left: 6px; }
#header .gnb_menu > div > ul > li > ul > li:hover { background: url(/resources/img/comm/gnb_menu_arrow.png) no-repeat 0 14px; }
#header .gnb_menu > div > ul > li > ul > li > a { display: block; padding: 7px 0; font-size: 16px; font-weight: 300; transition: padding-left .4s ease; }
#header .gnb_menu > div > ul > li > ul > li > a:hover { padding-left: 6px; font-weight: 400; color: #0d2880; }

/* container */
#container_wrap { position: relative; min-height: 100%; margin: -121px 0 -172px 0; }
#container { padding: 121px 0 172px 0; }

/* lnb */
#lnb_wrap { position: relative; height: 50px; z-index: 9; }
#lnb_wrap > div { width: 100%; height: 50px; background: #325cb2; }
#lnb_wrap.fix > div { position: fixed; top: 0; left: 0; background: rgba(50, 92, 178, 0.9); }
#lnb_wrap > div > div { width: 90%; height: 100%; max-width: 1300px; min-width: 1000px; margin: 0 auto; font-size: 0; }
#lnb_wrap > div > div > div { position: relative; display: inline-block; width: 200px; height: 100%; box-sizing: border-box; vertical-align: top; border-right: 1px solid rgba(255, 255, 255, 0.1); }
#lnb_wrap > div > div > div:first-child { border-left: 1px solid rgba(255, 255, 255, 0.1); }
#lnb_wrap > div > div > div > a { display:block; height: 100%; padding: 12px 20px 0 20px; box-sizing: border-box; font-size: 16px; font-weight: 300; color: #fff; }
#lnb_wrap .home a { background: url(/resources/img/comm/lnb_home.png) no-repeat 20px 50%; text-indent: 20px; }
#lnb_wrap .dep1 a,
#lnb_wrap .dep2 a {
	background: url(/resources/img/comm/lnb_arrow.png) no-repeat 90% 23px;
}
#lnb_wrap .dep1 a.on,
#lnb_wrap .dep2 a.on {
	background-color: #325cb2;
	background-position-y: -7px;
}
#lnb_wrap > div > div > div > ul { display: none; position: absolute; top: 50px; left: 0; width: 200px; box-sizing: border-box; border: 1px solid #ddd; background: #f5f5f5; }
#lnb_wrap > div > div > div > ul > li { border-top: 1px solid #ddd; }
#lnb_wrap > div > div > div > ul > li:first-child { border-top: 0; }
#lnb_wrap > div > div > div > ul > li > a { display: block; height: 49px; padding: 12px 20px 0 20px; box-sizing: border-box; font-size: 16px; font-weight: 300; color: #222; }
#lnb_wrap > div > div > div > ul > li > a:hover { font-weight: 400; color: #0d2880; }

/* contents title */
#contentsTitle { width: 100%; height: 100px; border-bottom: 1px solid #ddd; }
#contentsTitle > div { position: relative; width: 90%; height: 100%; max-width: 1300px; min-width: 1000px; margin: 0 auto; text-align: center; }
#contentsTitle h2 { padding-top: 26px; font-size: 32px; font-weight: 400; }
#contentsTitle a { position: absolute; top: 38px; display: block; height: 24px; box-sizing: border-box; line-height: 140%; font-size: 16px; font-weight: 300; color: #888; }
#contentsTitle a.prev { left: 0; padding-left: 30px; background: url(/resources/img/comm/contents_title_prev.png) no-repeat 1% 0; }
#contentsTitle a.next { right: 0; padding-right: 30px; background: url(/resources/img/comm/contents_title_next.png) no-repeat 99% 0; }

/* footer */
#footer_wrap { position: relative; width: 100%; height: 172px; background: #4e5051; z-index: 10; }
#footer_wrap .menu > div,
#footer_wrap .text > div{
	width: 90%;
	max-width: 1300px;
	min-width: 1000px;
	margin: 0 auto;
	font-size: 0;
}
#footer_wrap .menu { padding: 16px 0; }
#footer_wrap .menu a { display: inline-block; margin-left: 15px; padding-left: 15px; background: url(/resources/img/comm/footer_menu_line.gif) no-repeat 0 60%; font-size: 16px; font-weight: 400; color: #fff; }
#footer_wrap .menu a:first-child { margin-left: 0; padding-left: 0; background: none; }
#footer_wrap .text { padding: 24px 0; border-top: 1px solid rgba(255, 255, 255, 0.1); color: #bbb; }
#footer_wrap .text ul { margin-bottom: 4px; }
#footer_wrap .text ul li { display: inline-block; margin-left: 20px; font-size: 14px; }
#footer_wrap .text ul li:first-child { margin-left: 0; }
#footer_wrap .text p { font-size: 12px; }

/* 팝업 공통 */
.popup_wrap { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; }
.popup_wrap .bg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: black; opacity: 0.2; }
.popup_wrap .v_align_set { position: relative; display: table; width: 100%; height: 100%; }
.popup_wrap .v_align_set > div { display: table-cell; width: 100%; height: 100%; vertical-align: middle; text-align: center; }
.popup_wrap .popup { position: relative; display: inline-block; background: #fff; text-align: left; }

/* 비밀번호 입력 팝업 */
#popup_password .popup { width: 240px; padding: 50px; border-radius: 10px; text-align: center; }
#popup_password .popup strong { display: block; margin-bottom: 20px; font-size: 20px; font-weight: 500; }
#popup_password .popup input[type="password"] { display: block; width: 100%; margin-bottom: 30px; padding: 10px 0; border-bottom: 1px solid #000; font-size: 16px; }