/* 나눔스퀘어라운드 웹폰트 v1.11 https://github.com/innks/NanumSquareRound */
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 100;
  src: local("/fonts/NanumSquareRound/NanumSquareRoundL"), /* computer */
    url("/fonts/NanumSquareRound/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
    url("/fonts/NanumSquareRound/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/NanumSquareRound/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
    url("/fonts/NanumSquareRound/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
    url("/fonts/NanumSquareRound/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("/fonts/NanumSquareRound/NanumSquareRoundR"), /* computer */
    url("/fonts/NanumSquareRound/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
    url("/fonts/NanumSquareRound/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/NanumSquareRound/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */
    url("/fonts/NanumSquareRound/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
    url("/fonts/NanumSquareRound/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 600;
  src: local("/fonts/NanumSquareRound/NanumSquareRoundB"), /* computer */
    url("/fonts/NanumSquareRound/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
    url("/fonts/NanumSquareRound/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/NanumSquareRound/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
    url("/fonts/NanumSquareRound/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
    url("/fonts/NanumSquareRound/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("/fonts/NanumSquareRound/NanumSquareRoundEB"), /* computer */
    url("/fonts/NanumSquareRound/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
    url("/fonts/NanumSquareRound/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/NanumSquareRound/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
    url("/fonts/NanumSquareRound/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
    url("/fonts/NanumSquareRound/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
}
