mysql.driver=com.mysql.cj.jdbc.Driver
mysql.jdbcUrl=jdbc:mysql://<DB_HOST>:3306/<DB_NAME>?useSSL=true&verifyServerCertificate=false&serverTimezone=UTC
mysql.username=<DB_USERNAME>
mysql.password=<DB_PASSWORD>
